* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c2b2b;
    margin: 0; /**/
}

main {
    margin-top: 160px;
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/cheese-doodle-pattern-background-seamless-600nw-2532604233\ \(1\).webp');
    /*background-color: #2c2b2b;*/
}

/* barra de navegação*/
nav {
    width: 100%;
    top:0;
    /*margin: 5px;*/
    background-color: #2c2b2b;
    display: flex;
    align-items: left;
}

nav, .links, .derretendo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

.barra-conteudo {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.barra-pesquisa {
    display: flex;
    justify-content: center;
    width: 45%;
    height: 70%;
    margin-top: 25px;
    padding: 18px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 0.5px solid;
    color: #2c2b2b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.barra-pesquisa .pesquisa{
    width: 10%;
}

.barra-items {
    width: 95%;
    height: 60%;
    display: flex;
    justify-content: left;
}

.barra-items .login {
    margin-left: 20px;
    width: 10%;
    height: 40%;
    background: #ffbb00;
    color: #2c2b2b;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    margin-top: 40px;
    cursor: pointer;
}

.logo {
    margin-top: 15px;
    height: 6rem;
}

.icons {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-between;
}

.links {
    top:100px;
    /*position: fixed;*/
    width: 100%;
    z-index: 1000; /* garante que fica acima de tudo */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1); /**/
    margin-top: 10px;
    height: 3rem;
    background-color: #ffbb00;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.links a {
    margin-top: 5px;
    display: flex;
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #2c2b2b;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    cursor: pointer;
}

.derretendo{
  top:158px;
  height: 277px;
  background-image: url('./assets/derretendo.png');
  background-position: center;
}

.title-card {
    margin-top: 60px;
    margin-left: 60px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
}

/*cards*/
.card {
    width: 100%;
    margin: 20px;
    border: 2px solid #2c2b2b;
    /*border-radius: 15px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2b2b;

}

.card:hover {
    transform: scale(1.005);
}

.card img {
    width: 100%;
    height: 300px;
    /*border-radius: 15px;*/
    object-fit: cover;
}

.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    color: #ffbb00;
}

/*Propaganda*/
.ad {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*dev*/
.dev {
    background-color: #ffbb00;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.bio {
    background-color: #ffbb00;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}

.bio img {
    width: 100%;
    border-radius: 15px;
    object-fit: cover
}

.apresentacao {
    color: #2c2b2b;
    font-weight: 100;
    font-size: 1.4rem;
    line-height: 1.8rem;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*newsletter*/
.newsletter-caixa {
    padding: 2rem;
    width: 100%;
    background: #2c2b2b;
    color: #ffbb00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-caixa .assinar {
    width: 45%;
    background: #2c2b2b;
    color: #ffbb00;
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    border: none;
    border-radius: 30px;
    margin-top: 1px;
    cursor: pointer;
}

.assinar:hover {
    transform: scale(1.05);
}

.newsletter {
    width: 45%;
    color: #2c2b2b;
    background: #ffbb00;
    border: 2px solid #2c2b2b;
    border-radius: 12px;
    padding: 40px 0 40px 0;
    margin: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}